@model LibraryManagement1.Data.Model.Author
<a class="btn btn-success" asp-controller="Author" asp-action="Create">Create a new Auhor</a>
<div class="row">
    @foreach (var author in Model)
    {
        @Html.Partial("AuthorPartial", author)
    }
</div>